<p id="notice"><%= notice %></p>

<p>
  <strong>Workout:</strong>
  <%= @performed_exercise.workout %>
</p>

<p>
  <strong>Date:</strong>
  <%= @performed_exercise.date %>
</p>

<p>
  <strong>Exercise type:</strong>
  <%= @performed_exercise.exercise_type_id %>
</p>

<%= link_to 'Edit', edit_performed_exercise_path(@performed_exercise) %> |
<%= link_to 'Back', performed_exercises_path %>
