<p id="notice"><%= notice %></p>

<h1>Listing Exercise Statistics</h1>

<table>
  <thead>
    <tr>
      <th>Duration</th>
      <th>Date</th>
      <th>Nomnoms Lost</th>
      <th>Exercise type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercise_statistics.each do |es| %>
      <tr>
        <td><%= es.duration %></td>
        <td><%= es.date.strftime("%b %e, %Y")%></td>
        <td><%= es.nomnoms_lost.to_i %></td>
        <td><%= es.exercise_type.name %></td>
        <td><%= link_to 'Show', es %></td>
        <td><%= link_to 'Edit', edit_exercise_statistic_path(es) %></td>
        <td><%= link_to 'Destroy', es, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise statistic', new_exercise_statistic_path %>
