<%= form_for(@lb) do |f| %>
  <% if @lb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lb.errors.count, "error") %> prohibited this lb from being saved:</h2>

      <ul>
      <% @lb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
