<%= link_to 'Lbs', lbs_path %>
<%= link_to 'Steps Taken', step_numbers_path %>
<%= link_to 'Calorie Intake', calorie_intakes_path %>
<%= link_to 'Excercise Statistics', exercise_statistics_path %>

<!DOCTYPE html>
<html>
<head>
  <title>HealthTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
